.section .image-industry-leading-text {
    width: 300px;
    height: 25px;
    background-size: 300px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section .image-industry-leading-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_large_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-industry-leading-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-repeat: no-repeat;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_medium.png");
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-industry-leading-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_medium_2x.png")
    }
}

@media only screen and (max-width: 1240px) {
    .section .image-industry-leading-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_medium.png")
    }
}

@media only screen and (max-width: 1240px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-width: 1240px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (min-resolution: 144dpi) {
    .section .image-industry-leading-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_medium_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-industry-leading-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-industry-leading-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_medium_2x.png")
    }
}

html.basic-interaction .section .image-industry-leading-text, html.aow .section .image-industry-leading-text,
html.no-js .section .image-industry-leading-text, html.ie .section .image-industry-leading-text,
html.basic-interaction .section .image-industry-leading-text, html.aow .section .image-industry-leading-text,
html.no-js .section .image-industry-leading-text, html.ie .section .image-industry-leading-text,
html.basic-interaction .section .image-industry-leading-text, html.aow .section .image-industry-leading-text,
html.no-js .section .image-industry-leading-text, html.ie .section .image-industry-leading-text,
html.basic-interaction .section .image-industry-leading-text, html.aow .section .image-industry-leading-text,
html.no-js .section .image-industry-leading-text, html.ie .section .image-industry-leading-text {
    width: 131px;
    height: 25px;
    background-size: 131px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_small.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.basic-interaction .section .image-industry-leading-text, html.aow .section .image-industry-leading-text,
    html.no-js .section .image-industry-leading-text, html.ie .section .image-industry-leading-text,
    html.basic-interaction .section .image-industry-leading-text, html.aow .section .image-industry-leading-text,
    html.no-js .section .image-industry-leading-text, html.ie .section .image-industry-leading-text,
    html.basic-interaction .section .image-industry-leading-text, html.aow .section .image-industry-leading-text,
    html.no-js .section .image-industry-leading-text, html.ie .section .image-industry-leading-text,
    html.basic-interaction .section .image-industry-leading-text, html.aow .section .image-industry-leading-text,
    html.no-js .section .image-industry-leading-text, html.ie .section .image-industry-leading-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/industry_leading_text__di0a02meeqwm_small_2x.png")
    }
}

.section .image-industry-leading-text:before {
    padding-top: 8.33333%
}

.section .image-industry-leading-text:before {
    padding-top: 8.33333%
}

@media only screen and (max-width: 1240px) {
    .section .image-industry-leading-text:before {
        padding-top: 8.35%
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-industry-leading-text:before {
        padding-top: 8.35%
    }
}








.section .image-true-tone-text {
    width: 300px;
    height: 25px;
    background-size: 300px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section .image-true-tone-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_large_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-true-tone-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-repeat: no-repeat;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-true-tone-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_medium_2x.png")
    }
}

@media only screen and (max-width: 1240px) {
    .section .image-true-tone-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_medium.png")
    }
}

@media only screen and (max-width: 1240px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-width: 1240px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (min-resolution: 144dpi) {
    .section .image-true-tone-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_medium_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-true-tone-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-true-tone-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_medium_2x.png")
    }
}

html.basic-interaction .section .image-true-tone-text, html.aow .section .image-true-tone-text,
html.no-js .section .image-true-tone-text, html.ie .section .image-true-tone-text,
html.basic-interaction .section .image-true-tone-text, html.aow .section .image-true-tone-text,
html.no-js .section .image-true-tone-text, html.ie .section .image-true-tone-text,
html.basic-interaction .section .image-true-tone-text, html.aow .section .image-true-tone-text,
html.no-js .section .image-true-tone-text, html.ie .section .image-true-tone-text,
html.basic-interaction .section .image-true-tone-text, html.aow .section .image-true-tone-text,
html.no-js .section .image-true-tone-text, html.ie .section .image-true-tone-text {
    width: 210px;
    height: 25px;
    background-size: 210px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_small.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.basic-interaction .section .image-true-tone-text, html.aow .section .image-true-tone-text,
    html.no-js .section .image-true-tone-text, html.ie .section .image-true-tone-text,
    html.basic-interaction .section .image-true-tone-text, html.aow .section .image-true-tone-text,
    html.no-js .section .image-true-tone-text, html.ie .section .image-true-tone-text,
    html.basic-interaction .section .image-true-tone-text, html.aow .section .image-true-tone-text,
    html.no-js .section .image-true-tone-text, html.ie .section .image-true-tone-text,
    html.basic-interaction .section .image-true-tone-text, html.aow .section .image-true-tone-text,
    html.no-js .section .image-true-tone-text, html.ie .section .image-true-tone-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/true_tone_text__dyqmguj7zka6_small_2x.png")
    }
}

.section .image-true-tone-text:before {
    padding-top: 9.17031%
}

.section .image-true-tone-text:before {
    padding-top: 9.17031%
}

@media only screen and (max-width: 1240px) {
    .section .image-true-tone-text:before {
        padding-top: 9.77011%
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-true-tone-text:before {
        padding-top: 9.77011%
    }
}




.section .image-2x-faster-text {
    width: 300px;
    height: 25px;
    background-size: 300px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section .image-2x-faster-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_large_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-2x-faster-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-repeat: no-repeat;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-2x-faster-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_medium_2x.png")
    }
}

@media only screen and (max-width: 1240px) {
    .section .image-2x-faster-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_medium.png")
    }
}

@media only screen and (max-width: 1240px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-width: 1240px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (min-resolution: 144dpi) {
    .section .image-2x-faster-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_medium_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-2x-faster-text {
        width: 250px;
        height: 25px;
        background-size: 250px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-2x-faster-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_medium_2x.png")
    }
}

html.basic-interaction .section .image-2x-faster-text, html.aow .section .image-2x-faster-text,
html.no-js .section .image-2x-faster-text, html.ie .section .image-2x-faster-text,
html.basic-interaction .section .image-2x-faster-text, html.aow .section .image-2x-faster-text,
html.no-js .section .image-2x-faster-text, html.ie .section .image-2x-faster-text,
html.basic-interaction .section .image-2x-faster-text, html.aow .section .image-2x-faster-text,
html.no-js .section .image-2x-faster-text, html.ie .section .image-2x-faster-text,
html.basic-interaction .section .image-2x-faster-text, html.aow .section .image-2x-faster-text,
html.no-js .section .image-2x-faster-text, html.ie .section .image-2x-faster-text {
    width: 180px;
    height: 20px;
    background-size: 180px 20px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_small.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.basic-interaction .section .image-2x-faster-text, html.aow .section .image-2x-faster-text,
    html.no-js .section .image-2x-faster-text, html.ie .section .image-2x-faster-text,
    html.basic-interaction .section .image-2x-faster-text, html.aow .section .image-2x-faster-text,
    html.no-js .section .image-2x-faster-text, html.ie .section .image-2x-faster-text,
    html.basic-interaction .section .image-2x-faster-text, html.aow .section .image-2x-faster-text,
    html.no-js .section .image-2x-faster-text, html.ie .section .image-2x-faster-text,
    html.basic-interaction .section .image-2x-faster-text, html.aow .section .image-2x-faster-text,
    html.no-js .section .image-2x-faster-text, html.ie .section .image-2x-faster-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/2x_faster_text__gkso86u1pjyy_small_2x.png")
    }
}


.section .image-2x-faster-text:before {
    padding-top: 11.36364%
}

.section .image-2x-faster-text:before {
    padding-top: 11.36364%
}

@media only screen and (max-width: 1240px) {
    .section .image-2x-faster-text:before {
        padding-top: 11.81102%
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-2x-faster-text:before {
        padding-top: 11.81102%
    }
}



.section .image-change-tools-text {
    width: 181px;
    height: 30px;
    background-size: 181px 30px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section .image-change-tools-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_large_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-change-tools-text {
        width: 154px;
        height: 25px;
        background-size: 154px 25px;
        background-repeat: no-repeat;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-change-tools-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_medium_2x.png")
    }
}

@media only screen and (max-width: 1240px) {
    .section .image-change-tools-text {
        width: 154px;
        height: 25px;
        background-size: 154px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_medium.png")
    }
}

@media only screen and (max-width: 1240px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-width: 1240px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (min-resolution: 144dpi) {
    .section .image-change-tools-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_medium_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-change-tools-text {
        width: 154px;
        height: 25px;
        background-size: 154px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-change-tools-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_medium_2x.png")
    }
}

html.basic-interaction .section .image-change-tools-text, html.aow .section .image-change-tools-text,
html.no-js .section .image-change-tools-text, html.ie .section .image-change-tools-text,
html.basic-interaction .section .image-change-tools-text, html.aow .section .image-change-tools-text,
html.no-js .section .image-change-tools-text, html.ie .section .image-change-tools-text,
html.basic-interaction .section .image-change-tools-text, html.aow .section .image-change-tools-text,
html.no-js .section .image-change-tools-text, html.ie .section .image-change-tools-text,
html.basic-interaction .section .image-change-tools-text, html.aow .section .image-change-tools-text,
html.no-js .section .image-change-tools-text, html.ie .section .image-change-tools-text {
    width: 74px;
    height: 44px;
    background-size: 74px 44px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_small.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.basic-interaction .section .image-change-tools-text, html.aow .section .image-change-tools-text,
    html.no-js .section .image-change-tools-text, html.ie .section .image-change-tools-text,
    html.basic-interaction .section .image-change-tools-text, html.aow .section .image-change-tools-text,
    html.no-js .section .image-change-tools-text, html.ie .section .image-change-tools-text,
    html.basic-interaction .section .image-change-tools-text, html.aow .section .image-change-tools-text,
    html.no-js .section .image-change-tools-text, html.ie .section .image-change-tools-text,
    html.basic-interaction .section .image-change-tools-text, html.aow .section .image-change-tools-text,
    html.no-js .section .image-change-tools-text, html.ie .section .image-change-tools-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/change_tools_text__earaz7zmaigm_small_2x.png")
    }
}

.section .image-change-tools-text:before {
    padding-top: 14.5%;
}

.section .image-change-tools-text:before {
    padding-top: 14.5%;
}

@media only screen and (max-width: 1240px) {
    .section .image-change-tools-text:before {
        padding-top: 14.5%;
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-change-tools-text:before {
        padding-top: 14.5%;
    }
}




.section .image-flat-surface-text {
    width: 213px;
    height: 22px;
    background-size: 213px 22px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section .image-flat-surface-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_large_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-flat-surface-text {
        width: 172px;
        height: 17px;
        background-size: 172px 17px;
        background-repeat: no-repeat;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-flat-surface-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_medium_2x.png")
    }
}

@media only screen and (max-width: 1240px) {
    .section .image-flat-surface-text {
        width: 172px;
        height: 17px;
        background-size: 172px 17px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_medium.png")
    }
}

@media only screen and (max-width: 1240px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-width: 1240px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (min-resolution: 144dpi) {
    .section .image-flat-surface-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_medium_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-flat-surface-text {
        width: 172px;
        height: 17px;
        background-size: 172px 17px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-flat-surface-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_medium_2x.png")
    }
}

html.basic-interaction .section .image-flat-surface-text, html.aow .section .image-flat-surface-text,
html.no-js .section .image-flat-surface-text, html.ie .section .image-flat-surface-text,
html.basic-interaction .section .image-flat-surface-text, html.aow .section .image-flat-surface-text,
html.no-js .section .image-flat-surface-text, html.ie .section .image-flat-surface-text,
html.basic-interaction .section .image-flat-surface-text, html.aow .section .image-flat-surface-text,
html.no-js .section .image-flat-surface-text, html.ie .section .image-flat-surface-text,
html.basic-interaction .section .image-flat-surface-text, html.aow .section .image-flat-surface-text,
html.no-js .section .image-flat-surface-text, html.ie .section .image-flat-surface-text {
    width: 101px;
    height: 69px;
    background-size: 101px 69px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_small.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.basic-interaction .section .image-flat-surface-text, html.aow .section .image-flat-surface-text,
    html.no-js .section .image-flat-surface-text, html.ie .section .image-flat-surface-text,
    html.basic-interaction .section .image-flat-surface-text, html.aow .section .image-flat-surface-text,
    html.no-js .section .image-flat-surface-text, html.ie .section .image-flat-surface-text,
    html.basic-interaction .section .image-flat-surface-text, html.aow .section .image-flat-surface-text,
    html.no-js .section .image-flat-surface-text, html.ie .section .image-flat-surface-text,
    html.basic-interaction .section .image-flat-surface-text, html.aow .section .image-flat-surface-text,
    html.no-js .section .image-flat-surface-text, html.ie .section .image-flat-surface-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/flat_surface_text__bsgcbk6e5tde_small_2x.png")
    }
}

.section .image-flat-surface-text:before {
    padding-top: 6.26781%
}

.section .image-flat-surface-text:before {
    padding-top: 6.26781%
}@media only screen and (max-width: 1240px) {
    .section .image-flat-surface-text:before {
        padding-top: 6.58915%
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-flat-surface-text:before {
        padding-top: 6.58915%
    }
}




.section .image-runs-pro-apps-text {
    width: 300px;
    height: 25px;
    background-size: 300px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section .image-runs-pro-apps-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_large_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-runs-pro-apps-text {
        width: 300px;
        height: 25px;
        background-size: 300px 25px;
        background-repeat: no-repeat;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-runs-pro-apps-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_medium_2x.png")
    }
}

@media only screen and (max-width: 1240px) {
    .section .image-runs-pro-apps-text {
        width: 300px;
        height: 25px;
        background-size: 300px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_medium.png")
    }
}

@media only screen and (max-width: 1240px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-width: 1240px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (min-resolution: 144dpi) {
    .section .image-runs-pro-apps-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_medium_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-runs-pro-apps-text {
        width: 300px;
        height: 25px;
        background-size: 300px 25px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-runs-pro-apps-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_medium_2x.png")
    }
}

html.basic-interaction .section .image-runs-pro-apps-text, html.aow .section .image-runs-pro-apps-text,
html.no-js .section .image-runs-pro-apps-text, html.ie .section .image-runs-pro-apps-text,
html.basic-interaction .section .image-runs-pro-apps-text, html.aow .section .image-runs-pro-apps-text,
html.no-js .section .image-runs-pro-apps-text, html.ie .section .image-runs-pro-apps-text,
html.basic-interaction .section .image-runs-pro-apps-text, html.aow .section .image-runs-pro-apps-text,
html.no-js .section .image-runs-pro-apps-text, html.ie .section .image-runs-pro-apps-text,
html.basic-interaction .section .image-runs-pro-apps-text, html.aow .section .image-runs-pro-apps-text,
html.no-js .section .image-runs-pro-apps-text, html.ie .section .image-runs-pro-apps-text {
    width: 267px;
    height: 25px;
    background-size: 267px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_small.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.basic-interaction .section .image-runs-pro-apps-text, html.aow .section .image-runs-pro-apps-text,
    html.no-js .section .image-runs-pro-apps-text, html.ie .section .image-runs-pro-apps-text,
    html.basic-interaction .section .image-runs-pro-apps-text, html.aow .section .image-runs-pro-apps-text,
    html.no-js .section .image-runs-pro-apps-text, html.ie .section .image-runs-pro-apps-text,
    html.basic-interaction .section .image-runs-pro-apps-text, html.aow .section .image-runs-pro-apps-text,
    html.no-js .section .image-runs-pro-apps-text, html.ie .section .image-runs-pro-apps-text,
    html.basic-interaction .section .image-runs-pro-apps-text, html.aow .section .image-runs-pro-apps-text,
    html.no-js .section .image-runs-pro-apps-text, html.ie .section .image-runs-pro-apps-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/runs_pro_apps_text__dbnsntlyj6uu_small_2x.png")
    }
}

.section .image-runs-pro-apps-text:before {
    padding-top: 9%
}

.section .image-runs-pro-apps-text:before {
    padding-top: 9%
}

@media only screen and (max-width: 1240px) {
    .section .image-runs-pro-apps-text:before {
        padding-top: 9%
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-runs-pro-apps-text:before {
        padding-top: 9%
    }
}




.section .image-seamless-design-text {
    width: 113px;
    height: 25px;
    background-size: 113px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section .image-seamless-design-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_large_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-seamless-design-text {
        width: 93px;
        height: 20px;
        background-size: 93px 20px;
        background-repeat: no-repeat;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-seamless-design-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_medium_2x.png")
    }
}

@media only screen and (max-width: 1240px) {
    .section .image-seamless-design-text {
        width: 93px;
        height: 20px;
        background-size: 93px 20px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_medium.png")
    }
}

@media only screen and (max-width: 1240px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-width: 1240px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (min-resolution: 144dpi) {
    .section .image-seamless-design-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_medium_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-seamless-design-text {
        width: 93px;
        height: 20px;
        background-size: 93px 20px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-seamless-design-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_medium_2x.png")
    }
}

html.basic-interaction .section .image-seamless-design-text, html.aow .section .image-seamless-design-text,
html.no-js .section .image-seamless-design-text, html.ie .section .image-seamless-design-text,
html.basic-interaction .section .image-seamless-design-text, html.aow .section .image-seamless-design-text,
html.no-js .section .image-seamless-design-text, html.ie .section .image-seamless-design-text,
html.basic-interaction .section .image-seamless-design-text, html.aow .section .image-seamless-design-text,
html.no-js .section .image-seamless-design-text, html.ie .section .image-seamless-design-text,
html.basic-interaction .section .image-seamless-design-text, html.aow .section .image-seamless-design-text,
html.no-js .section .image-seamless-design-text, html.ie .section .image-seamless-design-text {
    width: 58px;
    height: 40px;
    background-size: 58px 40px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_small.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.basic-interaction .section .image-seamless-design-text, html.aow .section .image-seamless-design-text,
    html.no-js .section .image-seamless-design-text, html.ie .section .image-seamless-design-text,
    html.basic-interaction .section .image-seamless-design-text, html.aow .section .image-seamless-design-text,
    html.no-js .section .image-seamless-design-text, html.ie .section .image-seamless-design-text,
    html.basic-interaction .section .image-seamless-design-text, html.aow .section .image-seamless-design-text,
    html.no-js .section .image-seamless-design-text, html.ie .section .image-seamless-design-text,
    html.basic-interaction .section .image-seamless-design-text, html.aow .section .image-seamless-design-text,
    html.no-js .section .image-seamless-design-text, html.ie .section .image-seamless-design-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/seamless_design_text__e9vavmmyabu6_small_2x.png")
    }
}

.section .image-seamless-design-text:before {
    padding-top: 21.5%;
}

.section .image-seamless-design-text:before {
    padding-top: 21.5%;
}

@media only screen and (max-width: 1240px) {
    .section .image-seamless-design-text:before {
        padding-top: 21.5%;
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-seamless-design-text:before {
        padding-top: 21.5%
    }
}




.section .image-thinnest-ipad-ever-text {
    width: 107px;
    height: 25px;
    background-size: 107px 25px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section .image-thinnest-ipad-ever-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_large_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-thinnest-ipad-ever-text {
        width: 91px;
        height: 20px;
        background-size: 91px 20px;
        background-repeat: no-repeat;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-thinnest-ipad-ever-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_medium_2x.png")
    }
}

@media only screen and (max-width: 1240px) {
    .section .image-thinnest-ipad-ever-text {
        width: 91px;
        height: 20px;
        background-size: 91px 20px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_medium.png")
    }
}

@media only screen and (max-width: 1240px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-width: 1240px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1240px) and (min-resolution: 144dpi) {
    .section .image-thinnest-ipad-ever-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_medium_2x.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-thinnest-ipad-ever-text {
        width: 91px;
        height: 20px;
        background-size: 91px 20px;
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_medium.png")
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (max-height: 800px) and (min-resolution: 1.5dppx), only screen and (max-height: 800px) and (min-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-height: 800px) and (min-width: 736px) and (min-resolution: 144dpi) {
    .section .image-thinnest-ipad-ever-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_medium_2x.png")
    }
}

html.basic-interaction .section .image-thinnest-ipad-ever-text,
html.aow .section .image-thinnest-ipad-ever-text, html.no-js .section .image-thinnest-ipad-ever-text,
html.ie .section .image-thinnest-ipad-ever-text, html.basic-interaction .section .image-thinnest-ipad-ever-text,
html.aow .section .image-thinnest-ipad-ever-text, html.no-js .section .image-thinnest-ipad-ever-text,
html.ie .section .image-thinnest-ipad-ever-text, html.basic-interaction .section .image-thinnest-ipad-ever-text,
html.aow .section .image-thinnest-ipad-ever-text, html.no-js .section .image-thinnest-ipad-ever-text,
html.ie .section .image-thinnest-ipad-ever-text, html.basic-interaction .section .image-thinnest-ipad-ever-text,
html.aow .section .image-thinnest-ipad-ever-text, html.no-js .section .image-thinnest-ipad-ever-text,
html.ie .section .image-thinnest-ipad-ever-text {
    width: 96px;
	height: 21px;
	background-size: 96px 21px;
    background-repeat: no-repeat;
    background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_small.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html.basic-interaction .section .image-thinnest-ipad-ever-text,
    html.aow .section .image-thinnest-ipad-ever-text, html.no-js .section .image-thinnest-ipad-ever-text,
    html.ie .section .image-thinnest-ipad-ever-text, html.basic-interaction .section .image-thinnest-ipad-ever-text,
    html.aow .section .image-thinnest-ipad-ever-text, html.no-js .section .image-thinnest-ipad-ever-text,
    html.ie .section .image-thinnest-ipad-ever-text, html.basic-interaction .section .image-thinnest-ipad-ever-text,
    html.aow .section .image-thinnest-ipad-ever-text, html.no-js .section .image-thinnest-ipad-ever-text,
    html.ie .section .image-thinnest-ipad-ever-text, html.basic-interaction .section .image-thinnest-ipad-ever-text,
    html.aow .section .image-thinnest-ipad-ever-text, html.no-js .section .image-thinnest-ipad-ever-text,
    html.ie .section .image-thinnest-ipad-ever-text {
        background-image: url("/cn/ipad-pro/images/overview/hand-writing/thinnest_ipad_ever_text__enioen1u1biq_small_2x.png")
    }
}

.section .image-thinnest-ipad-ever-text:before {
    padding-top: 12.30769%
}

.section .image-thinnest-ipad-ever-text:before {
    padding-top: 12.30769%
}

@media only screen and (max-width: 1240px) {
    .section .image-thinnest-ipad-ever-text:before {
        padding-top: 12.66667%
    }
}

@media only screen and (max-height: 800px) and (min-width: 736px) {
    .section .image-thinnest-ipad-ever-text:before {
        padding-top: 12.66667%
    }
}


html.basic-interaction .section-pencil .pencil-specs--3, html.no-js .section-pencil .pencil-specs--3,
html.forces-basic-interaction .section-pencil .pencil-specs--3 {
    top: 108px;
    left: -58px;
}

html.basic-interaction .section-pencil .pencil-specs--3 .spec-text,
html.no-js .section-pencil .pencil-specs--3 .spec-text, html.forces-basic-interaction .section-pencil .pencil-specs--3 .spec-text {
    top: 18px;
    left: -10px
}

html.basic-interaction .section-pencil .pencil-specs--1, html.no-js .section-pencil .pencil-specs--1,
html.forces-basic-interaction .section-pencil .pencil-specs--1 {
    bottom: 207px;
    left: -71px
}

html.basic-interaction .section-pencil .pencil-specs--1 .spec-text,
html.no-js .section-pencil .pencil-specs--1 .spec-text, html.forces-basic-interaction .section-pencil .pencil-specs--1 .spec-text {
    top: 23px;
    left: -10px
}
